.dial {
  position: relative;
  height: 30vw;
  width: 30vw;
  background: url(../images/clock.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  margin-top: 10vw;
}
#hour,
#minute,
#second {
  position: absolute;
  border-radius: 5px;
  transform-origin: bottom;
}

#hour {
  height: 7vw;
  width: 7px;
  top: 8.35vw;
  left: 14.6vw;
  background-color: rgb(27, 5, 195);
 
}

#minute {
  height: 9vw;
  width: 5px;
  top: 6.2vw;
  left: 14.7vw;
  background-color: rgb(226, 3, 3);
}

#second {
  height: 11vw;
  width: 3px;
  top: 4.3vw;
  left: 14.75vw;
  background-color: black;
}
